<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
              {% block content %}

                  <a id ="inf" href="kvantums">Это информация про квантумы</a>
<div id="proj">
                  {% for project in proj_list  %}
                      <a class="list" href="{% url 'project' project.id %}">
                      <div class="div_inside">
                          <div class="div_name">{{ project.project_name }}</div><br>
                          <img  src="/static/{{ project.img }}" width="380px" height="200px">
                      </div>
                      </a>
                  {% endfor %}
              {% endblock %}
          </div>

</body>
</html>