<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="wrapper">
      <div class="header"></div>
      <div class="base">
          <div class="left-menu"></div>
          <div class="content">
              {% block content %}
                   <h1>Это наш сайт</h1>
                    <a href="kvantums">Это инфа про квантумы</a>
                     {% for project in proj_list  %}
                         <a href="{% url 'project' project.id %}"><p>{{ project.project_name }}</p></a>
                         {{ project.low_description }}
                     {% endfor %}
              {% endblock %}
          </div>
      </div>
      <div class="futter"></div>
  </div>
</body>
</html>