<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'u.css' %}">
</head>
<body>

  <div class="wrapper">
      <div class="header"></div>
      <div class="base">

              {% block content %}

                  <a id ="inf" href="kvantums">Это инфа про квантумы</a>
<div id="proj">
                  {% for project in proj_list  %}
                      <a class="list" href="{% url 'project' project.id %}">
                      <div class="div_inside">
                          <div class="div_name">{{ project.project_name }}</div><br>
                          <!--здесь будет картинка-->
                      </div>
                      </a>
                  {% endfor %}
              {% endblock %}
          </div>
      </div>
      </div>
</body>
</html>