{% extends 'index.html' %}
{% block content %}
     <a  href={% url "index" %}>
    <!--<img id="pic_go_back" src="kvant_projects/apps/kvant_proj/static/img/go_back.jpg">  Можете укзатать нормальны адрес для картинки-->
    </a>
    <a class="link_to_main" href={% url "index" %}>Главная</a>
<p id="proj_name">{{ project.project_name }}</p>
<div id="kvant">Квантумы:
        {% for kvantum in kvantums %}
            <span  > {{ kvantum.kvantum }}</span>
        {% endfor %}
</div>
<div class="proj_members">
    <p id="members">Состав команды:</p>
    <ol>
        {% for kv in kvantirianec %}
            <li class="kv-in-list">
                {{ kv.fio }}
            </li>
        {% endfor %}
    </ol>
</div>
    <p id="master"> Руководитель: {{ project.master.fio }}</p>
    <p id="proj_description">{{ project.description }}</p>
    <img src="/static/{{ project.img }}">
{#    <img src="{% url 'static' project.img %}">#}

{% endblock %}