{% extends 'index.html' %}
{% block content %}
    <a  href={% url "kvantums" %}>
     <img id="pic_go_back" src="kvant_projects/apps/kvant_proj/static/img/go_back.jpg"> <!--  можете укзатать нормальны адрес для картинки-->
    </a>
    <a class="link_to_main" href={% url "index" %}>Главная</a>
<p id="proj_name">{{ project.project_name }}</p>
    <p>
        {% for kvantum in kvantums %}

            <div id="kvant"> Квантум: {{ kvantum.kvantum }}<!--можете убрать последние слово "квантум" из базы данных--></div>
        {% endfor %}

    </p>
    <p id="master">Состав команды:</p>
    <ol>
        {% for kv in kvantirianec %}
            <li class="kv-in-list">
                {{ kv.fio }}
            </li>
        {% endfor %}
    </ol>
    <p id="master">Руководитель проекта: {{ project.master.fio }}</p>
    <p id="proj_description">{{ project.description }}</p>

    <img src="/static/">
{#    <img src="{% url 'static' project.img %}">#}

{% endblock %}